

body {
  background-color: #E7E0C9;
}

h1{
  color: #012443;
  font-size: 70px
}

h2{
  color: #B61919
}
h3{
  color: #012443;
}

hr{

  border-style: none;
  border-top-style: dotted;
  border-color: #FF6B6B;
  border-width: 5px;
  height: 0px;
  width: 20%;

}
