

body {
  background-color: #FEFFE2;
  text-align:  center;
}

h1{
  color: #012443;
  font-size: 70px;
  text-align:  center;
}

h2{
  color: #B61919;
  text-align:  center
}
h3{
  color: #012443;

}

hr{

  border-style: none;
  border-top-style: dotted;
  border-color: #FF6B6B;
  border-width: 5px;
  height: 0px;
  width: 20%;
}

.FOTO {
  width: 110px;
  height: 110px ;
    position: absolute;
  left: 350px;
  top: 270px
}

.top-container {
  background-color: #F7DAD9;
  position: relative;
  padding-top: 80px;
}
.middle-container {

}

.bottom-container{


}
